*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    font-family: 'Segoe UI', Helvetica Neue, Helvetica, Lucida Grande, Arial;
    height: 100%;
    /* background: linear-gradient(180deg, rgba(0,150,136,1) 0%, rgba(0,150,136,1) 29%, rgba(217,219,212,1) 29%); */
    background-color: #919191;
}

.columns{    
    display: flex;
    flex-direction: row;
    min-height: 800px;
    box-shadow: 0 3rem 3rem -1rem rgba(10,10,10,.2);
}

.contacts{
    width: 35%;
    max-width: 415px;
    display: flex;
    flex-direction: column;    
    border-right: 1px solid #91919147;
    background-color: #111b21;
}

header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    background-color:  #202c33;
}

.header-avatar{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

.header-buttons{
    display: flex;
}

.header-icon{
    color: #919191;
}

.header-btn{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search{
    background-color: #111b21;
    border-bottom: 1px solid #9191910f;
    padding: 5px 8px;
}

.search-input{
    background-color: #202c33;
    height: 35px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.search-input input{
    flex: 1;
    border: 0;
    outline: 0;
    background-color: transparent;
    margin-left: 18px;
}

.search-icon{
    color: #919191;
    width: 12px;
}

.contact-picture{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
}

.card-contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
}

.group-contact{
    padding: 14px 0px;
    margin-left: 15px;
    width: 100%;
    margin-right: 5px;
    border-bottom: 1px solid #91919147;
}

.contact-name{
    font-weight: 500;
    color: #EEE;
}

.last-message{
    font-size: 14px;
    color: #919191;
    padding-top: 5px;
}

.name-date{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.date{
    color: #919191;
    font-size: 12px;
    padding-right: 15px;
}

/* CHAT */
.chats{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #111b21;
}

.description{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    background-color: #202c33;
}

.user{
    display: flex;
    align-items: center;
    padding: 0 5px;
}
.user span{
    padding-left: 15px;
    color: #EEE;
}

.balloon{
    background: #202c33;
    color: white;
    font-size: 14px;
    box-shadow: rgba(0,0,0, 0.13) 0px 1px 0.5px 0px;
    margin: 5px 90px;
    padding: 5px 10px;
    border-radius: 5px;
    width: fit-content;
}
.balloon span{
    margin-left: 25px;
    color: rgb(170, 170, 170);
    font-size: 11px;
}

.verde{
    background-color: #005c4b;
    align-self: flex-end;
}

.list-messages{
    height: 85%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}